@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 21, 24, 21, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.swiper-slide {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list-style::before {
  content: "◆";
  font-size: 8px;

  position: absolute;
  top: 50%;
  transform: translate(-15px, -50%);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 415px;
  height: 293px;
}